@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.mprof-container-margin{
    width: 90%;
    display: flex;
    justify-content: center;
    column-gap: 4%;
    background-color: rgb(193, 214, 164);
    border-radius: 4ch;
    margin: 50px auto;
    padding: 2%;
}
.mprof-container{
    /* flex-grow: 1; */
    display: flex;
    justify-content: center;
    column-gap: 4%;
    background-color: rgb(193, 214, 164);
    padding: 2%;
    min-height: 100%;
    flex: 1;
    border-radius: 3ch;
    box-sizing: border-box;
}









